/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.container {
	display: grid;                                                    
	grid-template-columns: 250px 1fr;
	grid-template-rows: 150px 1fr;
}

.header {
	border: 1px solid red;
	background-color: rgb(255, 222, 222);
	grid-column: 2;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
}

.header .upper {
	display: grid;
	grid-template-columns: auto 250px;
	grid-template-rows: 1fr;
	align-items: center;
	width: clamp(400px, 100%, 1920px);
	gap: clamp(50px, 10%, 350px);
	padding: 1.5rem;
}

.upper .search-form {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 25px;
}

.upper .user-info {
	display: grid;
	grid-template-columns: auto auto 1fr;
	gap: 25px;
}

.header .lower {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr;
	align-items: center;
	width: clamp(400px, 100%, 1920px);
	gap: 50px;
	padding: 1.5rem;
}

.lower .welcome {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr 1fr;
}

.lower .buttons {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
}

.welcome .avatar {
	grid-column: 1;
	grid-row: 1 / 3;
}

.sidebar {
	height: 100vh;
	border: 1px solid green;
	background-color: rgb(222, 255, 222);
	grid-row: 1 / 3;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 100%;
	align-items: start;
	gap: 50px;
	padding: 1.5rem;
}

.sidebar ul {
	list-style-type: none;
	padding: 0;
}

.banner, .menu, .help {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 25px;
}

.menu ul {
	display: grid;
}

.content {
	border: 1px solid blue;
	background-color: rgba(222, 222, 255);
	grid-column: 2;
	grid-row: 2;
}