/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.container {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr 5fr;
}

.header {
	border: 1px solid red;
	background-color: rgb(255, 222, 222);
	grid-column: 2;
}

.sidebar {
	border: 1px solid green;
	background-color: rgb(222, 255, 222);
	grid-row: 1 / 3;
	display: grid;
	grid-template-rows:
		[dashboard-top] auto
		[dashboard-bottom menu-top] auto
		[menu-bottom help-top] auto
		[help-bottom];
}

.sidebar ul {
	list-style-type: none;
	padding: 0;
}

.banner, .menu, .help {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.menu ul, .help ul {
	display: grid;
}

.content {
	border: 1px solid blue;
	background-color: rgba(222, 222, 255);
	grid-column: 2;
	grid-row: 2;
}