.header {
	border: 1px solid red;
	background-color: rgba(255, 0, 0, 0.01);
}

.sidebar {
	border: 1px solid green;
	background-color: rgba(0, 255, 0, 0.01);
}

.content {
	border: 1px solid blue;
	background-color: rgba(0, 0, 255, 0.01);
}